@model SysPec.App.Models.IndexViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SysPec - 1.0 - Alterar</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="manage-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alterar</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Save", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            <p class="text-success text-center">@ViewBag.StatusMessage</p>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.Criador.Id)
                            <fieldset>
                                <div class="form-group">
                                    <input type="email" value="@ViewBag.Email" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Criador.Nome, new { @class = "form-control", placeholder = "Nome" })
                                    @Html.ValidationMessageFor(m => m.Criador.Nome, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Criador.Telefone, new { @class = "form-control", placeholder = "Telefone", Id = "Telefone" })
                                    @Html.ValidationMessageFor(m => m.Criador.Telefone, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <a data-toggle="modal" data-target="#mdlChangePassword" href="#">Alterar Senha</a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.ActionLink("Voltar", "Index", "Dashboard", null, new { @class = "btn btn-lg btn-danger btn-block" })
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="submit" value="Salvar" class="btn btn-lg btn-success btn-block" />
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Alterar senha</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("ChangePassword")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <a class="btn btn-primary" href="javascript:if ($('#changePasswordForm').valid()) document.getElementById('changePasswordForm').submit()">Salvar Alterações</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script>
        $("#Telefone").mask("(99) 99999999?");
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/Scripts/sb-admin-2.js"></script>
</body>
</html>